#wrapper {
  width: 20%;
  margin: 0 auto;
}

body {
  margin: 20px;
  font-size: 30px;
  font-family: 'Helvetica Neue';
}

.efficient {
  color: green;
}

.average {
  color: orange;
}

.inefficient {
  color: red;
}